<template>
  <v-layout column class="border-bottom pb-4 mt-4">
    <div class="font-weight-bold mb-1">{{ article.title }}</div>
    <div class="mb-1">{{ article.author }}</div>
    <div class="blue--text mb-1">
      <template v-for="(tag, index) in article.hashtags">
        {{ tag }}
        <template v-if="index < article.hashtags.length - 1">,</template>
      </template>
    </div>

    <v-img
      :src="article.img"
      cover
      height="200"
    ></v-img>

    <div>{{ article.text }} <span class="blue--text d-inline">читать дальше</span></div>
  </v-layout>
</template>

<script>
  export default {
    props: {
      article: {
        type: Object,
        required: true
      }
    },
    data() {
      return {}
    }
  }
</script>

<style scoped>
.border-bottom {
  border-bottom: 1px solid #bdbdbd;
}
</style>
