<template>
  <v-layout
    color="white"
    class="bottom-nav elevation-0"
  >
    <v-btn
      to="/stats"
      flat
      color="gray"
      class="button"
    >
      <v-layout column>
        <v-icon medium>favorite_border</v-icon>
        <span class="button-text text-xs-center">Мое<br> здоровье</span>
      </v-layout>
    </v-btn>

    <v-btn
      to="/handbook"
      flat
      color="gray"
      class="button"
      active-class="active-button"
    >
      <v-layout column>
        <v-icon medium>library_books</v-icon>
        <span class="button-text text-xs-center">Справочник<br> медицины</span>
      </v-layout>
    </v-btn>

    <v-btn
      to="/add"
      flat
      color="deep-purple"
      class="button"
      active-class="active-button"
    >
      <v-layout column>
        <v-icon medium>add_circle</v-icon>
        <span class="button-text text-xs-center">Добавить<br> информацию</span>
      </v-layout>
    </v-btn>

    <v-btn
      to="/chat"
      flat
      color="gray"
      class="button"
      active-class="active-button"
    >
      <v-layout column>
        <v-icon medium>chat</v-icon>
        <span class="button-text text-xs-center">Мнение<br> врача</span>
      </v-layout>
    </v-btn>

    <v-btn
      to="/achievment"
      flat
      color="gray"
      class="button"
      active-class="active-button"
    >
      <v-layout column>
        <v-icon medium>bookmark_border</v-icon>
        <span class="button-text text-xs-center">Бонусы<br> и награды</span>
      </v-layout>
    </v-btn>
  </v-layout>
</template>

<script>
export default {
  name: 'BottomNav',
}
</script>

<style scoped>
.button {
  height: auto;
  padding: 0;
  min-width: auto;
  width: calc(100% / 5);
  padding: 5px;
  margin: 0;
}

.active-button::before {
  display: none;
}

.button-text {
  font-size: 8px;
  font-weight: 400;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
</style>

