<template>
  <div v-if="text" class="mb-2 clearfix">
    <div :class="[
      'cloud',
      'bra-6',
      'elevation-4',
      'py-1',
      'px-2',
      `${side}-side`
      ]"
    >
      {{ text }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    side: {
      type: String,
      default: 'right'
    },
    text: {
      type: String,
      default: ''
    }
  },

  data () {
    return {

    }
  }
}
</script>

<style scoped>
.cloud {
  display: inline-block;
  max-width: 80%;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.left-side {
  float: left;
}
.right-side {
 float: right;
 background-color: #2196f3;
 color: #fff;
}
</style>
