<template>
  <v-layout column align-center class="pt-3 pb-3 bra-6 text-xs-center">
    <svg class="mb-3" width="136" height="136" viewBox="0 0 136 136" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M116.083 19.9167C103.24 7.0733 86.1631 0 68 0C51.6495 0 35.849 5.88629 23.5078 16.5756C22.6642 17.3061 22.5729 18.5823 23.3034 19.4249C24.0339 20.2684 25.3091 20.3597 26.1526 19.6293C37.7592 9.57599 52.6207 4.03937 68 4.03937C85.084 4.03937 101.146 10.6924 113.227 22.7732C125.308 34.8539 131.961 50.916 131.961 68C131.961 85.084 125.308 101.146 113.227 113.227C101.146 125.308 85.084 131.961 68 131.961C50.916 131.961 34.8539 125.308 22.7732 113.227C10.6924 101.146 4.03937 85.084 4.03937 68C4.03937 52.1092 9.90491 36.8752 20.5569 25.1057C21.305 24.2787 21.2407 23.0015 20.4137 22.2523C19.5867 21.5042 18.3094 21.5675 17.5613 22.3955C6.237 34.9089 0 51.1048 0 68C0 86.1631 7.0733 103.24 19.9167 116.083C32.7601 128.927 49.8369 136 68 136C86.1631 136 103.24 128.927 116.083 116.083C128.927 103.24 136 86.1631 136 68C136 49.8369 128.927 32.7601 116.083 19.9167Z" fill="#C4C4C4"/>
    <path d="M65.4319 92.2051C59.1949 92.2051 54.1201 97.335 54.1201 103.639C54.1201 109.944 59.1949 115.074 65.4319 115.074C68.4939 115.074 71.3774 113.856 73.5511 111.642C75.6575 109.498 76.8663 106.581 76.8663 103.639C76.8663 100.617 75.6678 97.7542 73.493 95.5783C71.3172 93.4035 68.4545 92.2051 65.4319 92.2051ZM65.4319 111.034C61.4216 111.034 58.1594 107.717 58.1594 103.639C58.1594 99.5616 61.4216 96.2444 65.4319 96.2444C69.4402 96.2444 72.8259 99.6312 72.8259 103.639C72.8259 107.648 69.4402 111.034 65.4319 111.034Z" fill="#C4C4C4"/>
    <path d="M84.8952 60.6611C85.7367 61.3957 87.0119 61.3085 87.7455 60.4681C92.6129 54.892 95.0813 49.0545 95.0813 43.1184C95.0813 36.8586 92.2694 31.184 87.1644 27.1404C82.0325 23.0762 75.0681 20.9283 67.0226 20.9283C57.0699 20.9283 50.9139 24.2881 47.5033 27.1062C43.3788 30.5137 40.9156 35.0833 40.9156 39.3291C40.9156 42.0891 42.0455 44.5202 44.0979 46.1752C45.7871 47.5375 48.0366 48.3188 50.2716 48.3188C54.1221 48.3188 55.8103 45.8297 57.1664 43.8292C58.8847 41.2964 60.5065 38.9037 66.6542 38.9037C68.7616 38.9037 75.6378 39.3582 75.6378 45.1978C75.6378 49.6055 71.5631 52.7338 67.9678 55.4938C67.0797 56.1745 66.2413 56.8188 65.4589 57.4829C61.3189 61.0512 56.5657 66.5629 56.5657 77.5978C56.5657 83.7269 58.0526 87.8098 65.3105 87.8098C68.525 87.8098 70.952 87.0814 72.5239 85.6454C73.8438 84.4397 74.5421 82.7557 74.5421 80.7749C74.5421 74.8212 74.5421 71.8329 80.6141 67.0838L80.7178 67.0029C80.9855 66.7943 81.2947 66.5526 81.6351 66.2776C82.5035 65.5772 82.6395 64.3062 81.9391 63.4377C81.2387 62.5692 79.9677 62.4333 79.0992 63.1337C78.7765 63.3941 78.4849 63.6213 78.2328 63.8185L78.1259 63.9015C70.8565 69.5875 70.5027 73.8074 70.5027 80.7759C70.5027 81.6714 70.5027 83.7704 65.3105 83.7704C62.7747 83.7704 62.0027 83.2402 61.6136 82.7775C60.935 81.9713 60.605 80.2769 60.605 77.5978C60.605 68.2584 64.3923 63.7355 68.084 60.5532C68.7803 59.9628 69.5803 59.3485 70.428 58.6979C74.5483 55.5343 79.6782 51.5966 79.6782 45.1978C79.6782 38.9203 74.5659 34.8643 66.6542 34.8643C58.3659 34.8643 55.7408 38.7356 53.8233 41.562C52.5128 43.4951 51.9152 44.2795 50.2716 44.2795C48.1352 44.2795 44.956 42.9607 44.956 39.3291C44.956 36.9706 46.3007 33.3391 50.0765 30.22C52.9777 27.8242 58.2715 24.9667 67.0236 24.9667C81.1661 24.9667 91.0419 32.4312 91.0419 43.1184C91.0419 48.0491 88.9097 52.9922 84.7032 57.8118C83.9686 58.6523 84.0558 59.9275 84.8952 60.6611Z" fill="#C4C4C4"/>
    </svg>

    <div class="font-weight-bold subheading mb-3">Пока что <br>нет статистики</div>
    <div class="mb-4">Чтобы увидеть статистику о своей активности, Вы можетет подключить к этому приложению свои гаджеты, приложения здоровья или домашние Smart-устройства</div>
    <v-btn color="deep-purple" dark round to="/add">
      Добавить новое стройство
    </v-btn>
  </v-layout>
</template>

<script>
export default {
  name: 'EmptyState',

  data() {
    return {
      rating: 3,
      beings: [
        'Плохо',
        'Так себе',
        'Как обычно',
        'Хорошо',
        'Супер',
      ]
    }
  },
}
</script>
