<template>
  <v-toolbar
      app
      dark
      color="deep-purple"
      class="elevation-0">
      <v-toolbar-title class="subheading">
        {{ title }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        to="/profile"
        flat
        icon
      >
        <v-icon medium>account_circle</v-icon>
      </v-btn>
    </v-toolbar>
</template>

<script>
export default {
  name: 'Header',

  mounted() {
    console.log(this.$route)
  },

  computed: {
    title() {
      return this.$route.name
    }
  }
}
</script>
<style scoped>
.header-title {
  font-weight: 600;
}
</style>

