<template>
  <v-layout column align-center justify-center class="elevation-10 pt-3 pb-3 bra-6 wellcard">
    <template v-if="!isTouched">
      <div class="font-weight-bold">Как ваше самочувствие сейчас?</div>
        <v-rating
          v-model="rating"
          color="blue"
          size="40"
          background-color="grey lighten-1"
          empty-icon="$vuetify.icons.ratingFull"
        ></v-rating>
        <div class="font-weight-thin">{{ beings[rating - 1] }}</div>
    </template>

    <div v-else class="font-weight-bold headline">
      <v-icon large color="green">done</v-icon>
      Спасибо
    </div>

  </v-layout>
</template>

<script>
export default {
  name: 'Header',

  watch: {
    rating (val) {
      console.log(val)
      this.isTouched = true
    }
  },
  data() {
    return {
      isTouched: false,
      rating: 3,
      beings: [
        'Плохо',
        'Так себе',
        'Как обычно',
        'Хорошо',
        'Супер',
      ]
    }
  },
}
</script>

<style scoped>
.wellcard {
  height: 131px;
}
</style>
