<template>
  <v-app>
    <app-header v-if="isdLoggedIn"/>

    <v-content>
      <router-view class="main"/>
    </v-content>
    <app-bottom-nav v-if="isdLoggedIn"/>
  </v-app>
</template>

<script>
import BottomNav from './components/BottomNav'
import Header from './components/Header'
import { mapState } from 'vuex'

export default {
  name: 'App',

  components: {
    'app-bottom-nav': BottomNav,
    'app-header': Header
  },

  computed: {
    ...mapState({
      isdLoggedIn: (state) => state.isLoggedIn
    })
  },

  data () {
    return {
      //
    }
  }
}
</script>

<style scoped>
.main {
  padding-bottom: 70px;

}
</style>
