<template>
  <v-container>
    <div color="black" class="black--font pd-0 font-weight-bold subheading mb-3">Доступные устройства</div>
    <v-layout class="mb-2">
      <v-icon class="mr-2" medium>access_alarm</v-icon>
      <v-list-tile-title>Фитнес браслет MiBand 2</v-list-tile-title>
      <v-spacer></v-spacer>
      <v-icon>more_vert</v-icon>
    </v-layout>
    <v-layout class="mb-2">
      <v-icon class="mr-2" medium>access_alarm</v-icon>
      <v-list-tile-title>Глюкометр</v-list-tile-title>
      <v-spacer></v-spacer>
      <v-icon>more_vert</v-icon>
    </v-layout>
    <v-layout class="mb-2">
      <v-icon class="mr-2" medium>access_alarm</v-icon>
      <v-list-tile-title>Apple Watch</v-list-tile-title>
      <v-spacer></v-spacer>
      <v-icon>more_vert</v-icon>
    </v-layout>

    <div class="font-weight-bold subheading mb-3 mt-3">Доступные приложения</div>
    <v-layout row wrap>
      <router-link class="text-xs-center grid-item" @click.native="setState" to="/stats">
          <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="59" height="59" rx="3.5" fill="white" stroke="#C4C4C4"/>
            <path d="M37.5382 13.5764C37.5382 13.5764 35.7471 10 31.7169 10C27.3136 10 25 13.4968 25 16.9926C25 22.797 37.5377 30 37.5377 30C37.5377 30 50 22.8668 50 16.9926C50 13.4261 47.6123 10 43.3586 10C39.1048 10 37.5377 13.5764 37.5377 13.5764H37.5382Z" fill="url(#paint0_linear)"/>
            <defs>
            <linearGradient id="paint0_linear" x1="37.5" y1="10" x2="37.5" y2="30" gradientUnits="userSpaceOnUse">
            <stop stop-color="#E01760"/>
            <stop offset="1" stop-color="#FE8DB5"/>
            </linearGradient>
            </defs>
          </svg>

          Apple <br>health
      </router-link>

    </v-layout>
  </v-container>
</template>

<script>
export default {
  methods: {
    setState() {
      this.$store.dispatch('SET_STATE', false)
    }
  }
}
</script>

<style scoped>
.grid-item {
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #000;
}
</style>
