<template>
  <v-container column align-center>
    <div class="text-xs-center font-weight-regular title my-3">Войти через логин</div>
    <v-text-field
      label="Логин"
      outline
    ></v-text-field>
    <v-text-field
      label="Пароль"
      outline
    ></v-text-field>
    <v-btn block color="deep-purple" dark class="bra-6" @click.native="auth" to="/stats">Войти</v-btn>
    <div class="text-xs-center font-weight-regular title my-3">или</div>
    <v-btn block color="white" class="bra-6 mb-2" @click.native="auth" to="/stats">
      <svg class="gos-icon" xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 220 34.7"><path class="st0" d="M143.6.8h-18c-.2 0-.3.1-.3.3-.5 8.1-2 16.9-4.2 24v.3c.1.1.2.1.3.1h6.2c.1 0 .3-.1.3-.2 1.7-5.5 3.1-12.7 3.6-18.8h5.9v18.7c0 .2.1.3.3.3h5.9c.2 0 .3-.1.3-.3v-24c0-.2-.1-.4-.3-.4M219.7.8h-5.9c-.2 0-.3.1-.3.3v18.6c-1.3.4-2.6.5-4 .5-3.9 0-4.8-1.2-4.8-6.4V1.2c0-.2-.1-.3-.3-.3h-5.9c-.2 0-.3.1-.3.3v13.4c0 8.4 2.8 11.7 10.1 11.7 4.1 0 8.8-1.1 11.5-2.1.1 0 .2-.2.2-.3V1.2c0-.2-.1-.4-.3-.4M95.2.9h-6c-.2 0-.3.1-.3.2-.9 3.7-2.8 9.9-5.4 16.4L77.5 1c0-.1-.2-.2-.3-.2h-6c-.1 0-.2.1-.3.1-.1.1-.1.2 0 .3l9 24.6c-.9 1.9-1.8 3.5-2.6 5-.6 1.1-1.2 2.2-1.8 3.4-.1.1 0 .2 0 .3.1.1.2.2.3.2h6.5c.1 0 .2-.1.3-.2 1.1-2.1 2.5-5.1 3.8-8.1 3.8-9 6.9-17.4 9.2-25.1 0-.1 0-.2-.1-.3-.1-.1-.2-.1-.3-.1M116.6 19.8c0-.1-.1-.2-.2-.2h-.3c-1.4.5-4.1 1-6 1-4.1 0-6-1.1-6-7.4 0-5 .6-7.4 6-7.4 1.5 0 3 .2 4.8.8.2 0 .3 0 .4-.2.7-1.3 1.5-2.8 2.4-4.8v-.3c0-.1-.1-.2-.2-.2-2.4-.8-5.3-1.2-7.8-1.2-8.6 0-12.4 4-12.4 13.1 0 9.2 3.8 13.3 12.4 13.3 2.1 0 6.4-.5 8.4-1.3.2-.1.2-.2.2-.4l-1.7-4.8zM172.5.9h-6c-.1 0-.3.1-.3.2-.9 3.7-2.8 9.9-5.4 16.4l-6-16.5c0-.1-.2-.2-.3-.2h-6c-.1 0-.2.1-.3.1-.1.1-.1.2 0 .3l9 24.6c-.9 1.9-1.8 3.4-2.6 5-.6 1.1-1.2 2.2-1.8 3.4-.1.1 0 .2 0 .3.1.1.2.2.3.2h6.5c.1 0 .2-.1.3-.2 1.1-2.1 2.5-5.1 3.8-8.1 3.8-9 6.9-17.4 9.1-25.1 0-.1 0-.2-.1-.3 0-.1-.1-.1-.2-.1M194.5.8h-17.4c-.2 0-.3.1-.3.3v24.1c0 .2.1.3.3.3h5.9c.2 0 .3-.1.3-.3V6.6h9.1c.1 0 .3-.1.3-.2.7-1.6 1.4-3.4 2.1-5.1V1c-.1-.1-.2-.2-.3-.2"/><path class="st1" d="M31.3 20.8c-3.9 0-5.1-1.1-5.1-7.6 0-7 1.3-7.6 5.1-7.6s5.2.6 5.2 7.6c0 6.6-1.3 7.6-5.2 7.6m0-20.7c-8.5 0-11.8 3.6-11.8 13 0 9.5 3.3 13.2 11.8 13.2s11.9-3.7 11.9-13.2c0-9.3-3.4-13-11.9-13M66.6 19.8c0-.1-.1-.2-.2-.2h-.3c-1.4.5-4.1 1-6 1-4.1 0-6-1.1-6-7.4 0-5 .6-7.4 6-7.4 1.5 0 3 .2 4.8.8.1 0 .3 0 .4-.2.7-1.3 1.5-2.8 2.4-4.8v-.3c0-.1-.1-.2-.2-.2C65.2.4 62.3 0 59.8 0c-8.6 0-12.4 4-12.4 13.1 0 9.2 3.8 13.3 12.4 13.3 2.1 0 6.4-.5 8.4-1.3.2-.1.2-.2.2-.4l-1.8-4.9zM17.7.8H.3C.1.8 0 1 0 1.2v24.1c0 .2.1.3.3.3h5.9c.2 0 .3-.1.3-.3V6.6h9.1c.1 0 .2-.1.3-.2.7-1.6 1.4-3.4 2.1-5.1V1c-.1-.1-.2-.2-.3-.2"/></svg>
    </v-btn>
    <v-btn block color="white" class="bra-6 mb-2" @click.native="auth" to="/stats">
      <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" data-name="Layer 45" height="24" id="Layer_45" viewBox="0 0 24 24" width="24"><title/><path d="M21.54736,7H18.25688a.74281.74281,0,0,0-.65452.39156s-1.31237,2.41693-1.73392,3.231C14.73438,12.8125,14,12.125,14,11.10863V7.60417A1.10417,1.10417,0,0,0,12.89583,6.5h-2.474a1.9818,1.9818,0,0,0-1.751.8125s1.25626-.20312,1.25626,1.48958c0,.41974.02162,1.62723.04132,2.64a.72943.72943,0,0,1-1.273.50431,21.54029,21.54029,0,0,1-2.4982-4.54359A.69314.69314,0,0,0,5.5668,7C4.8532,7,3.42522,7,2.57719,7a.508.508,0,0,0-.47969.68481C3.00529,10.17487,6.91576,18,11.37917,18h1.87865A.74219.74219,0,0,0,14,17.25781V16.12342a.7293.7293,0,0,1,1.22868-.5315l2.24861,2.1127A1.08911,1.08911,0,0,0,18.223,18h2.95281c1.42415,0,1.42415-.98824.64768-1.75294-.54645-.53817-2.51832-2.61663-2.51832-2.61663A1.01862,1.01862,0,0,1,19.2268,12.307c.63737-.83876,1.67988-2.21175,2.122-2.79993C21.95313,8.70313,23.04688,7,21.54736,7Z" style="fill:#577fa8"/></svg>
      ВКонтакте
    </v-btn>
    <v-btn block color="white" class="bra-6 mb-2" @click.native="auth" to="/">
      <svg class="mr-1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 128 128" id="Social_Icons" version="1.1" viewBox="0 0 128 128" xml:space="preserve"><g id="_x31__stroke"><g id="Google"><rect clip-rule="evenodd" fill="none" fill-rule="evenodd" height="128" width="128"/><path clip-rule="evenodd" d="M27.585,64c0-4.157,0.69-8.143,1.923-11.881L7.938,35.648    C3.734,44.183,1.366,53.801,1.366,64c0,10.191,2.366,19.802,6.563,28.332l21.558-16.503C28.266,72.108,27.585,68.137,27.585,64" fill="#FBBC05" fill-rule="evenodd"/><path clip-rule="evenodd" d="M65.457,26.182c9.031,0,17.188,3.2,23.597,8.436L107.698,16    C96.337,6.109,81.771,0,65.457,0C40.129,0,18.361,14.484,7.938,35.648l21.569,16.471C34.477,37.033,48.644,26.182,65.457,26.182" fill="#EA4335" fill-rule="evenodd"/><path clip-rule="evenodd" d="M65.457,101.818c-16.812,0-30.979-10.851-35.949-25.937    L7.938,92.349C18.361,113.516,40.129,128,65.457,128c15.632,0,30.557-5.551,41.758-15.951L86.741,96.221    C80.964,99.86,73.689,101.818,65.457,101.818" fill="#34A853" fill-rule="evenodd"/><path clip-rule="evenodd" d="M126.634,64c0-3.782-0.583-7.855-1.457-11.636H65.457v24.727    h34.376c-1.719,8.431-6.397,14.912-13.092,19.13l20.474,15.828C118.981,101.129,126.634,84.861,126.634,64" fill="#4285F4" fill-rule="evenodd"/></g></g></svg>
      Google
    </v-btn>

  </v-container>
</template>

<script>
export default {
  methods: {
    auth () {
      this.$store.dispatch('SET_LOGIN', true)
    }
  }
}
</script>

<style scoped>
.st0{
  fill:#EE3F58;
}
.st1{
  fill:#0065B1;
}
.gos-icon {
  width: 110px;
}
.soc-icon {

}
</style>
