<template>
  <v-container>
    <v-layout class="chat-window" column reverse>
      <app-chat-item
        v-for="(dialog, index) of dialogs"
        :key="index"
        :side="dialog.side"
        :text="dialog.text"
      />

    </v-layout>
    <v-flex xs12>
      <v-text-field
        v-model="message"
        class="text-input"
        placeholder="Введите сообщение"
        append-icon="send"
        @change="send"
        @click:append="send"
      />
    </v-flex>
  </v-container>
</template>

<script>
import ChatItem from '../components/ChatItem'

export default {
  data () {
    return {
      message: '',
      htmlElem: undefined,
      dialogs: [],
      mapConversation: {
        'привет': 'Здравствуйте, я бот Айболит, что у вас болит?',
        'здравствуйте': 'Здравствуйте, я бот Айболит, что у вас болит?',
        'голова болит': 'есть еще какие-то симптомы?',
        'никаких': 'если у вас есть такая возможность, прошу померить температуру',
        'температура нормальная': 'В таком случае, я перенаправляю Вас к доктору, пожалуйста подождите',
        'не хочу': 'Перенаправляю вас к врачу, ожидайте'
      }
    }
  },
  mounted() {
    this.htmlElem = document.querySelector('html')
  },
  methods: {
    send () {
      const message = this.message

      this.addMessage(message, 'right')

      setTimeout(() => {
        this.addMessage(this.mapConversation[message] || 'Повторите вопрос', 'left')
      }, 300)

      this.message = ''
    },
    addMessage (text, side) {
      this.dialogs.unshift({
        text,
        side
      })
      setTimeout(() => {
        this.htmlElem.scrollTop = this.htmlElem.scrollHeight
      }, 1)
    }
  },
  components: {
    'app-chat-item': ChatItem
  }
}
</script>

<style scoped>
.text-input {
  position: fixed;
  bottom: 62px;
  width: 100%;
  background-color: #fff;
  margin-left: -16px;
  padding-left: 16px;
  padding-right: 16px;
}
.chat-window {
  padding: 0 16px 130px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  top: 72px;
  overflow: auto;
}
</style>
