<template>
  <v-container>
    <app-empty-state v-if="isEmptyState"/>
    <template v-if="!isEmptyState">
      <app-summary :data="myInfo" />
      <app-wellbeing />
    </template>
  </v-container>
</template>

<script>
import Wellbeing from '../components/Wellbeing'
import Summary from '../components/Summary'
import EmptyState from '../components/EmptyState'
import { mapState } from 'vuex'

export default {
  data () {
    return {
      rating: 0
    }
  },

  async mounted () {
    await this.$store.dispatch('getMyInfo')
  },

  computed: {
    ...mapState({
      myInfo: state => state.myInfo,
      isEmptyState: state => state.isEmptyState
    })
  },

  components: {
    'app-wellbeing': Wellbeing,
    'app-summary': Summary,
    'app-empty-state': EmptyState
  }
}
</script>
